
/*自定义*/
.chengSe{
	color: #EF4B32;
}
.ziSe{
	color: #505179;
}
.huiSeBmg{
	background-color: #eee;
}
.hongSe{
	color: red;
}

/*首页*/
.index .container{
	width: 85%;
}

.index .container .thumbnail{
	border:0;
}

.index .container .top,
.index .container .tab{
	margin-top: 30px;
}

.index .container .top .logo img{
	width: 20%;
	height: 20%;
}

.index .container .top .logo span{
	font-size: 24px;
	margin-left: 40px;
}

.index .container .top h3{
	color: #2292DD;
	margin: 0;
}

.index .container .tab li a{
	color: black;
}

.index .container .tab li a:hover{
	color: white;
	background-color: #2292DD;
}

.index .container .tab li .dropdown-menu{
	min-width: 100%;
	text-align: center;
}

/*轮播图*/
.index .container .carousel{
	margin-top: 10px;
}

.index .container .carousel .carousel-inner .item img{
	width: 100%;
}

.index .container .course{
	margin-top: 50px;
}

.index .container .course span,
.index .container .team span,
.index .container .advantage h4,
.index .container .company-profit h4,
.index .container .stu-profit h4{
	font-size:24px;
}

.index .container .course .nav-tabs {
    border-bottom:0;
}

.index .container .course .nav-tabs a{
    color:black;
}

.index .container .course .nav-tabs>li>a:hover{
	background-color: white;
	border: 1px solid white;
}

.index .container .course .nav-tabs>li.active>a{
	border: 0px;
	border-bottom: 2px solid #2292DD;
	color: #2292DD;
}

.index .container .course .tab-content,
.index .container .team .tab-content{
	margin-top:10px;
}

.index .container .advantage table{
	margin-top: 30px;	
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	float:none;
	display:block;
}

.index .container .advantage table td{
	border-top:0;
	padding:10px;
}

.index .container .advantage table .cell{
	background-color: #2292DD;
	width: 300px;
	height: 170px;
}

.index .container .company-profit,
.index .container .stu-profit,
.index .container .team{
	margin-top: 30px;
}

.index .container .company-profit h4,
.index .container .stu-profit h4{
	margin-bottom: 30px;
}

.index .container .team .nav-tabs {
    border-bottom:0;
}

.index .container .team .nav-tabs a{
    color:black;
}

.index .container .team .nav-tabs>li>a:hover{
	background-color: white;
	border: 1px solid white;
}

.index .container .team .nav-tabs>li.active>a{
	border: 0px;
	border-bottom: 2px solid #2292DD;
	color: #2292DD;
}

/*底部信息*/
.index .container .infornation{
	margin-top: 25px;
	margin-bottom: 25px;
}

/*在线咨询*/
.index .container .consulting{
	position:fixed;
	top:50%;
	right:10px;
}

/*课程页*/
/*轮播图*/
.course .container .carousel{
	margin-top: 10px;
}

.course .container .carousel .carousel-inner .item img{
	width: 100%;
}

.course .container .course-project{
	margin-top: 30px;
}

.course .container .thumbnail{
	border:0;
}

.course .container .course-project .tab-content{
	margin-top:30px;
}

.course .container .course-project .nav-tabs {
    border-bottom:0;
}

.course .container .course-project .nav-tabs a{
    color:black;
}

.course .container .course-project .nav-tabs>li>a:hover{
	background-color: white;
	border: 1px solid white;
}

.course .container .course-project .nav-tabs>li.active>a{
	border: 0px;
	border-bottom: 2px solid #2292DD;
	color: #2292DD;
}

/*课程详情页*/
.course_detail .container .course{
	margin-top: 50px;
}

.course_detail .container .course span,
.course_detail .container .content h4{
	font-size: 24px;
}

.course_detail .container .course .nav-tabs {
    border-bottom:0;
}

.course_detail .container .course .nav-tabs a{
    color:black;
}

.course_detail .container .course .nav-tabs>li>a:hover{
	background-color: white;
	border: 1px solid white;
}

.course_detail .container .course .nav-tabs>li.active>a{
	border: 0px;
	border-bottom: 2px solid #2292DD;
	color: #2292DD;
}

/*项目详情页*/
.project_detail .container .course{
	margin-top: 50px;
}

.project_detail .container .course span,
.project_detail .container .content h4{
	font-size: 24px;
}

.project_detail .container .course .nav-tabs {
    border-bottom:0;
}

.project_detail .container .course .nav-tabs a{
    color:black;
}

.project_detail .container .course .nav-tabs>li>a:hover{
	background-color: white;
	border: 1px solid white;
}

.project_detail .container .course .nav-tabs>li.active>a{
	border: 0px;
	border-bottom: 2px solid #2292DD;
	color: #2292DD;
}

/*师资团队*/
.team .container .thumbnail{
	border:0;
}
.team .container .coach{
	margin-top: 50px;
}
.team .container .coach .tab-content{
	margin-top:30px;
}
.team .container .coach span{
	font-size: 24px;
}
.team .container .coach .nav-tabs {
    border-bottom:0;
}
.team .container .coach .nav-tabs a{
    color:black;
}
.team .container .coach .nav-tabs>li>a:hover{
	background-color: white;
	border: 1px solid white;
}
.team .container .coach .nav-tabs>li.active>a{
	border: 0px;
	border-bottom: 2px solid #2292DD;
	color: #2292DD;
}

/*师资团队详情页*/
.team_detail .container .coach{
	margin-top: 50px;
}
.team_detail .container .coach span,
.team_detail .container .content h4{
	font-size: 24px;
}
.team_detail .container .coach .nav-tabs {
    border-bottom:0;
}
.team_detail .container .coach .nav-tabs a{
    color:black;
}
.team_detail .container .coach .nav-tabs>li>a:hover{
	background-color: white;
	border: 1px solid white;
}
.team_detail .container .coach .nav-tabs>li.active>a{
	border: 0px;
	border-bottom: 2px solid #2292DD;
	color: #2292DD;
}

/*经典案例*/
.case .container .thumbnail{
	border:0;
}
.case .container .example{
	margin-top: 50px;
}
.case .container .example .tab-content{
	margin-top:30px;
}
.case .container .example span{
	font-size: 24px;
}

/*经典案例详情页*/
.case_detail .container .example{
	margin-top: 50px;
}
.case_detail .container .example span,
.case_detail .container .content h4{
	font-size: 24px;
}

/*新闻动态*/
/*亿信资讯*/
.news .container .yxnews{
	margin-top: 50px;
}
.news .container .yxnews span{
	font-size: 24px;
}
.news .container .yxnews .infos{
	padding:40px;
}
.news .container .yxnews .infos .media img{
	width: 128px;
	height: 128px;
}
/*拓展心得*/
.news .container .experience{
	margin-top: 50px;
}
.news .container .experience span{
	font-size: 24px;
}
.news .container .experience .infos{
	padding:30px;
}
.news .container .experience .infos .cell{
	margin-bottom:50px;
}
.news .container .experience .infos .cell div{
	margin:5px;
}
.news .container .experience .infos .cell h4 span{ 
	font-size: 10px;
}

/*亿信资讯详情页*/
.yxnews_detail .container .yxnews{
	margin-top: 50px;
}
.yxnews_detail .container .yxnews span,
.yxnews_detail .container .content h4{
	font-size: 24px;
}

/*拓展心得详情页*/
.experience_detail .container .experience{
	margin-top: 50px;
}
.experience_detail .container .experience span,
.experience_detail .container .content h4{
	font-size: 24px;
}

/*拓展基地*/
.base .container .thumbnail{
	border:0;
}
.base .container .organization{
	margin-top: 50px;
}
.base .container .organization .tab-content{
	margin-top:30px;
}
.base .container .organization span{
	font-size: 24px;
}
.base .container .organization .nav-tabs {
    border-bottom:0;
}
.base .container .organization .nav-tabs a{
    color:black;
}
.base .container .organization .nav-tabs>li>a:hover{
	background-color: white;
	border: 1px solid white;
}
.base .container .organization .nav-tabs>li.active>a{
	border: 0px;
	border-bottom: 2px solid #2292DD;
	color: #2292DD;
}

/*拓展基地详情*/
.base_detail .container .organization{
	margin-top: 50px;
}
.base_detail .container .organization span,
.base_detail .container .content h4{
	font-size: 24px;
}
.base_detail .container .organization .nav-tabs {
    border-bottom:0;
}
.base_detail .container .organization .nav-tabs a{
    color:black;
}
.base_detail .container .organization .nav-tabs>li>a:hover{
	background-color: white;
	border: 1px solid white;
}
.base_detail .container .organization .nav-tabs>li.active>a{
	border: 0px;
	border-bottom: 2px solid #2292DD;
	color: #2292DD;
}
.base_detail .container .content .content_detail img{
	width:100%;
}
.base_detail .container .content .content_detail p{
	margin-bottom: 30px;
	margin-top: 30px;
}
.base_detail .container .address{
	margin-top: 30px;
}
.base_detail .container .address p{
	padding: 10px;
}

/*关于我们*/
.about_us .container .carousel{
	margin-top: 10px;
}

.about_us .container .carousel .carousel-inner .item img{
	width: 100%;
}

.about_us .container .company_profile{
	margin-top: 20px;
}

.about_us .container .company_other_infor{
	margin-top: 30px;	
}

.about_us .container .company_profile h4,
.about_us .container .company_other_infor h4{
	font-size: 24px;
	padding-bottom: 10px;
}

.about_us .container .company_other_infor .col-md-4{
	padding-left:0;
	padding-top: 10px;
}

.about_us .container .company_other_infor img{
	width:100%;
}

.about_us .container .company_other_infor .placeholder{
	height: 20px;
}

.about_us .container .company_other_infor .col-md-8 .culture_infor{
	margin-bottom: 43px;
	margin-top: 20px;
}

/*联系我们*/
.contact_us .container .contact{
	margin-top: 30px;
}

.contact_us .container .contact .col-md-5{
	padding-left:0;
}

.contact_us .container .contact h4,
.contact_us .container .map h4{
	font-size: 24px;
	margin-bottom: 30px;
}

.contact_us .container .contact h5{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.contact_us .container .contact p{
	font-size: 17px;
}

.contact_us .container .map{
	margin-top: 20px;
}

.contact_us .container .map img{
	width: 100%;
}

.contact_us .container .contact .list-group .list-group-item{
	border:0;
}


